.full.screen
    background-color: color(white a(80%))
    /*box-shadow: 0 0 3px black*/
    height: 100vh
    left: 0
    position: absolute
    right: 0
    top: 0
    width: 100vw
    z-index: 0
    transition-timing-function: linear
