
/* Enter ---------------------------------------------------------------------*/

.full.screen.transition-slide-right-enter
    left: auto
    right: 100vw
    transition: right 0.5s
    z-index: 1

.full.screen.transition-slide-right-enter-active
    right: 0

/* Leave ---------------------------------------------------------------------*/

.full.screen.transition-slide-right-leave
    left: auto
    right: -100vw
    transition: right 0.5s
    transition-delay: 0.035s
