
/* Enter ---------------------------------------------------------------------*/

.full.screen.transition-slide-left-enter
    left: 100vw
    transition: left 0.5s

.full.screen.transition-slide-left-enter-active
    left: 0

/* Leave -------------------------------------------------------------------- */

.full.screen.transition-slide-left-leave
    left: -100vw
    transition: left 0.5s
    transition-delay: 0.035s
