.full.screen
    background-color: color(white a(80%))
    height: 100vh
    left: 0
    position: absolute
    right: 0
    top: 0
    width: 100vw
    z-index: 0
    transition-timing-function: linear

.full.screen.with-navbar
    top: 50vh
    height: 50vh
